<html> 
    <h2>Heretical Scum</h2>
    <h3>Sign Up for Purging</h3>
    <form action="/signup" method="POST">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="text" name="password"></p>
        <p>Email: <input type="text" name="email"></p>
        <input class="btn btn-primary" type="submit">
    </form>
</html>