<html> 
<body>
  <label>Hello Filthy Heretic</label>
</body>
<p>Please search an anime or sell your soul by signing up:</p>

<nav>
    <a href="/login"> Sign In </a>
    <a href="/signup">Sign Up</a>
    <br><br>
  
</html>
